*{
    /* margin-top: 10px; */
    padding: 0;
}
/* body *{
    outline: 1px dotted pink;
} */
.container{
    width: 980px;
    margin: 0px auto;
}
header{
    border-top: 5px solid #000;
    background-color: #f9f9f9;
}
h1{
    color:black;
    text-align: center;
}
img{
    width:25%;
}
.topImages{
    /* padding: 10px; */
    background-color:skyblue;
    /* display: flex; */
    /* justify-content: space-around; */
}

.centerImages{
    /* margin-top: 10px; */
    /* padding: 10px; */
    background-color:#d2949f;
    /* display: flex; */
    /* justify-content: space-around; */
}
.bottomImages{
    /* margin-top: 10px; */
    /* padding: 10px; */
    background-color:#fcfcfe;
    /* display: flex; */
    /* justify-content: space-around; */
}

/* nuevo codigo */
.container div{
    display: flex;
    padding: 10px; 
    margin-top: 10px;
    justify-content: space-around;
}